.container{
    background-color: #F31006;
    background: -webkit-radial-gradient(right, #F31006, #010807);
    background: -moz-radial-gradient(right, #F31006, #010807);
    background: radial-gradient(to left, #F31006, #010807);
    color: white;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.btn{
    background-color: transparent;
    color: white;
    margin: 1vw;
    width: 10vw;
}
h1{
    margin-top: 1vw;
    vertical-align: middle;
}
.from-control{
    margin: 1vw;
}